.header {
  width: 100%;
  height: 80px;
  background: #d8d8d7;
}

/* I would suggest using float to get this container in its desired location. */

.content-left {
  width: 500px;
  /* This height is a placeholder. You will need to make some adjustments to get this container to look like the design. */
  height: 1040px;
  background: #565555;
  position: relative;
  top: 0px;
}

/* I would suggest using float to get this container in its desired location. */

.content-mid {
  width: 75%;
  /* This height is a placeholder. You will need to make some adjustments to get this container to look like the design. */
  height: 1040px;
  background: #b0b0b0;
  display: inline-block;
  position: relative;
  left: 500px;
  bottom: 1040px;
}

/* I would suggest using position to get this container to the bottom of the screen  */

.footer {
  width: 1600px;
  height: 80px;
  background: #d7d8d7;
  position: relative;
  bottom: 1050px;
}
